@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
}
td {
	font-family: Arial, Helvetica, sans-serif;
}
th {
	font-family: Arial, Helvetica, sans-serif;
}

.ui-content #container {
	width: 80%;		
	margin: auto;
	border:thick;
	border:#FF6;
}

#page-title {
	text-align: center;
	color: #fff;
}

#tasks-form {
	padding: 15px 0 15px 0 ;
	width: 100%;
	color:#000;
	background: transparent;
}
label {
	display: block;
	padding-bottom: 5px;
	text-align: center;
}
#task {
	border: 1px solid #888;
	margin: auto;
	width: 85%;
}
#tasks {
	margin: 20px;
	padding: 0;
}
#tasks li {
	list-style-type: none;
	padding: 5px;
}
#tasks li:nth-child(even) {
	border-radius: 20px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eee));
	background-image: -webkit-linear-gradient(#fdfdfd, #eee);
	background-image: -moz-linear-gradient(#fdfdfd, #eee);
	background-image: -ms-linear-gradient(#fdfdfd, #eee);
	background-image: -o-linear-gradient(#fdfdfd, #eee);
	background-image: linear-gradient(#fdfdfd, #eee)
}
#tasks li:nth-child(odd) {
	border-radius: 10px;
	color: #C30;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#111));
	background-image: -webkit-linear-gradient(#3c3c3c, #111);
	background-image: -moz-linear-gradient(#3c3c3c, #111);
	background-image: -ms-linear-gradient(#3c3c3c, #111);
	background-image: -o-linear-gradient(#3c3c3c, #111);
	background-image: linear-gradient(#3c3c3c, #111)
}
#tasks li:hover {
	background-color: #ccc;
}
#tasks li a {
	color: #F30;
	display: block;
	float: right;
	text-decoration: none;
}

#main-content ul {
	width: 100%;
	margin: auto;	
	border: thin;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	
}
